/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #b5bdc2;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
  /* Save it until promotion ends
    background-image: url(/images/Landing-Hero-01.svg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 80% 3%;
    */ }

a {
  color: #0B63CE;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #0B63CE;
    outline: none; }

p {
  margin-bottom: 1.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0; }

button {
  outline: none; }

::-webkit-selection {
  color: #A2AEB3;
  background: #f7f8f9; }

::-moz-selection {
  color: #A2AEB3;
  background: #f7f8f9; }

::selection {
  color: #A2AEB3;
  background: #f7f8f9; }

.edge--bottom {
  position: relative;
  z-index: 1; }
  .edge--bottom:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--bottom:after {
    bottom: 0;
    transform: skewY(0deg);
    transform-origin: 100%; }

.edge--bottom--reverse {
  position: relative;
  z-index: 1; }
  .edge--bottom--reverse:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--bottom--reverse:after {
    bottom: 0;
    transform: skewY(0deg);
    transform-origin: 0 100%; }

.edge--top {
  position: relative;
  z-index: 1; }
  .edge--top:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--top:before {
    top: 0;
    transform: skewY(0deg);
    transform-origin: 100% 0; }

.edge--top--reverse {
  position: relative;
  z-index: 1; }
  .edge--top--reverse:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--top--reverse:before {
    top: 0;
    transform: skewY(0deg);
    transform-origin: 0 0; }

.edge--both {
  position: relative;
  z-index: 1; }
  .edge--both:before, .edge--both:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--both:before {
    top: 0;
    transform: skewY(0deg);
    transform-origin: 100% 0; }
  .edge--both:after {
    bottom: 0;
    transform: skewY(0deg);
    transform-origin: 100%; }

.edge--both--reverse {
  position: relative;
  z-index: 1; }
  .edge--both--reverse:before, .edge--both--reverse:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .edge--both--reverse:before {
    top: 0;
    transform: skewY(0deg);
    transform-origin: 0 0; }
  .edge--both--reverse:after {
    bottom: 0;
    transform: skewY(0deg);
    transform-origin: 0 0; }

.video-message {
  color: #0B63CE; }

#fh5co-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  background-color: #fff; }
  @media screen and (max-width: 768px) {
    #fh5co-header {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      background: #fff; }
      #fh5co-header .navbar-liferay {
        color: #0B63CE !important; }
      #fh5co-header #navbar li a {
        color: rgba(0, 0, 0, 0.5) !important;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        #fh5co-header #navbar li a:hover {
          color: #0B63CE !important; }
        #fh5co-header #navbar li a span:before {
          background: transparent !important; }
      #fh5co-header #navbar li.active a {
        background: transparent;
        background: none;
        color: #0B63CE !important; }
        #fh5co-header #navbar li.active a span:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); } }
  #fh5co-header .navbar {
    padding-bottom: 0;
    margin-bottom: 0; }
  #fh5co-header .navbar-promo {
    float: right;
    display: block;
    color: #0B63CE;
    margin: 21px 0 0 0;
    font-size: 1.25em;
    font-weight: 600;
    visibility: hidden; }
  #fh5co-header .navbar-promo-crossout {
    float: right;
    display: block;
    color: #0B63CE;
    margin: 15px 20px 0 20px;
    font-size: 1.25em;
    font-weight: 600;
    color: #737C7F;
    position: relative;
    visibility: hidden; }
  #fh5co-header .navbar-promo-crossout:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 3px solid;
    border-radius: 5px;
    border-color: inherit;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    visibility: hidden; }
  #fh5co-header .navbar-button {
    float: right;
    display: block;
    font-weight: 600;
    color: white;
    font-size: 1em;
    margin: 10px 0 0 0;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    background: white;
    border: 3px solid white;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    visibility: hidden; }
  #fh5co-header .navbar-button:hover {
    color: white;
    border: white;
    cursor: pointer;
    box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8);
    visibility: hidden; }
  #fh5co-header .navbar-button:active {
    box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8);
    visibility: hidden; }
  #fh5co-header #navbar li a {
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    font-size: 19px;
    font-weight: 300; }
    #fh5co-header #navbar li a span {
      position: relative;
      display: block;
      padding-bottom: 2px; }
      #fh5co-header #navbar li a span:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        visibility: hidden;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
    #fh5co-header #navbar li a:hover {
      color: #fff; }
      #fh5co-header #navbar li a:hover span:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1); }
  #fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #fff; }
    #fh5co-header #navbar li.active a span:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  #fh5co-header .navbar-liferay {
    float: left;
    display: block;
    font-size: 30px;
    font-weight: 700;
    padding-left: 0;
    color: #fff;
    padding-bottom: 50px; }
  #fh5co-header.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    margin-top: 0px;
    top: 0; }
    #fh5co-header.navbar-fixed-top .navbar-liferay {
      color: #0B63CE; }
    #fh5co-header.navbar-fixed-top .navbar-promo {
      float: right;
      display: block;
      color: #0B63CE;
      margin: 22px 10px 0 0;
      font-size: 1em;
      font-weight: 600;
      visibility: visible; }
    #fh5co-header.navbar-fixed-top .navbar-promo-crossout {
      float: right;
      display: block;
      margin: 22px 10px 0 0;
      font-size: 1em;
      font-weight: 600;
      color: #737C7F;
      opacity: .75;
      visibility: visible;
      text-decoration: line-through; }
    #fh5co-header.navbar-fixed-top .navbar-button {
      float: right;
      display: block;
      font-weight: 600;
      color: #0B63CE;
      font-size: 1em;
      margin: 10px 0 0 0;
      text-align: center;
      padding: 5px;
      border-radius: 8px;
      background: white;
      border: 3px solid #0B63CE;
      visibility: visible; }
    #fh5co-header.navbar-fixed-top .navbar-button:hover {
      color: #1B324B;
      border: 3px solid #1B324B;
      cursor: pointer;
      box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8);
      visibility: visible;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
    #fh5co-header.navbar-fixed-top .navbar-button:active {
      box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8);
      visibility: visible; }
    #fh5co-header.navbar-fixed-top #navbar li a {
      color: rgba(0, 0, 0, 0.5);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      #fh5co-header.navbar-fixed-top #navbar li a:hover {
        color: #0B63CE; }
    #fh5co-header.navbar-fixed-top #navbar li.active a {
      background: transparent;
      background: none;
      color: #0B63CE; }
      #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        background-color: #0B63CE; }
  #fh5co-header .navbar-default {
    border: transparent;
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px; }
    @media screen and (max-width: 768px) {
      #fh5co-header .navbar-default {
        margin-top: 0px;
        padding-right: 0px;
        padding-left: 0px; } }
    #fh5co-header .navbar-default .liferay-slogan {
      margin: 28px 0 0 15px;
      float: left;
      letter-spacing: 2px;
      color: #adadad; }
      #fh5co-header .navbar-default .liferay-slogan em {
        color: #0B63CE;
        font-style: normal; }
  #fh5co-header a {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s; }

/* Promo Home */
#fh5co-home {
  background-size: cover;
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
  background: #0072ff;
  background: -moz-linear-gradient(0deg, #0072ff 0%, #00c6ff 100%);
  background: -webkit-linear-gradient(0deg, #0072ff 0%, #00c6ff 100%);
  background: linear-gradient(0deg, #0072ff 0%, #00c6ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0072ff", endColorstr="#00c6ff", GradientType=1); }
  #fh5co-home .promo-background {
    background-image: url(/images/Clouds.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 40% 50%; }
  #fh5co-home .text-wrap {
    height: 650px; }
  #fh5co-home .text-wrap {
    display: table;
    width: 100%;
    position: relative;
    z-index: 4; }
  #fh5co-home .text-inner {
    display: table-cell;
    text-align: left;
    margin-left: 0;
    padding-top: 175px;
    background-image: url(/images/Promo-Hero.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 50%; }
    #fh5co-home .text-inner button {
      font-weight: 600;
      color: #0B63CE;
      font-size: 1em;
      /* text-transform: uppercase; */
      margin: 0px auto 0;
      text-align: center;
      padding: 15px;
      border-radius: 8px;
      background-color: #fff;
      border: none;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
    #fh5co-home .text-inner button:hover {
      background-color: #0B63CE;
      color: #fff;
      cursor: pointer;
      transform: translateY(-7px);
      box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8); }
    #fh5co-home .text-inner button:active {
      transform: translateY(-7px);
      box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8); }
    #fh5co-home .text-inner h1 {
      font-size: 2em;
      color: #fff;
      margin: 0 0 20px 0;
      font-weight: 600; }
    #fh5co-home .text-inner h2 {
      font-size: 1.75em;
      line-height: 38px;
      font-weight: 400;
      color: #647480;
      margin: 0; }
    #fh5co-home .text-inner h3 {
      padding-top: 25px; }
    #fh5co-home .text-inner h4 {
      text-transform: uppercase;
      color: #78FBFF;
      font-weight: 600; }
    #fh5co-home .text-inner small {
      font-size: 50%;
      opacity: .75;
      color: #fff; }
    #fh5co-home .text-inner span {
      text-decoration: line-through; }

/* Disable Until Promo Ends
#fh5co-home {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;

    .text-wrap {
        height: 650px;
    }
    .text-wrap {
        display: table;
        width: 100%;
        position: relative;
        z-index: 4;
    }
    .text-inner {
        display: table-cell;
        text-align: left;
        margin-left: 0;
        padding-top: 120px;
        button {
            font-weight: 600;
            color: $liferay-white;
            font-size: 1em;
            margin: 0px auto 0;
            text-align: center;
            padding: 15px;
            border-radius: 8px;
            background-color: $liferay-primary;
            border: none;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            -ms-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }

        button:hover {
            background-color: #1B324B;
            color: white;
            cursor: pointer;
            transform: translateY( -7px);
            box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8);
        }

        button:active {
            transform: translateY( -7px);
            box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8);
        }

        h1 {
            font-size: 3em;
            color: $liferay-h1;
            margin: 0 0 20px 0;
            font-weight: 600;
        }
        h2 {
            font-size: 1.75em;
            line-height: 38px;
            font-weight: 400;
            color: $liferay-h2;
            margin: 0;
        }
        h3 {
            padding-top: 25px;
        }
    }
}

*/
#fh5co-intro {
  position: relative;
  bottom: 0;
  z-index: 10;
  padding-top: 4em; }
  @media screen and (max-width: 768px) {
    #fh5co-intro {
      padding-bottom: 3em; } }
  #fh5co-intro > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap; }
  #fh5co-intro .fh5co-block {
    width: 33.33%;
    float: left;
    text-align: center;
    font-size: 16px;
    min-height: 300px;
    vertical-align: middle;
    padding: 40px;
    background: transparent;
    z-index: 7;
    flex-grow: 1;
    background-size: cover;
    position: relative;
    backgroun-repeat: no-repeat; }
    @media screen and (max-width: 768px) {
      #fh5co-intro .fh5co-block {
        width: 100%; } }
    #fh5co-intro .fh5co-block > .overlay-darker {
      z-index: 8;
      opacity: 1;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0 20px;
      border-radius: 10px;
      border-bottom: solid #fff 10px;
      -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
      -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
      -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
      -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
      box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4); }
    #fh5co-intro .fh5co-block > .overlay {
      margin: 0 20px;
      border-radius: 10px;
      background: #fff;
      opacity: 1;
      z-index: 9;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    #fh5co-intro .fh5co-block > .fh5co-text {
      position: relative;
      z-index: 10; }
      #fh5co-intro .fh5co-block > .fh5co-text .fh5co-intro-icon {
        font-size: 50px;
        color: #0B63CE;
        margin-bottom: 30px;
        display: block; }
    #fh5co-intro .fh5co-block h2 {
      font-size: 1.75em;
      font-weight: 600;
      color: #09101d; }
    #fh5co-intro .fh5co-block p {
      color: #09101d;
      font-weight: 400; }

.watch-video {
  text-align: center;
  width: 100%;
  display: block;
  float: left;
  padding-top: 100px; }
  .watch-video span {
    display: block;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold; }
  .watch-video .btn-video {
    display: block;
    font-size: 60px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border: 2px solid #0B63CE;
    line-height: 0px;
    display: table;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .watch-video .btn-video:hover, .watch-video .btn-video:focus, .watch-video .btn-video:active {
      text-decoration: none; }
    .watch-video .btn-video i {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      right: -9px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .watch-video .btn-video:hover i, .watch-video .btn-video:focus i {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }

#fh5co-benefits,
#fh5co-testimonials,
#fh5co-counters,
#fh5co-work,
#fh5co-contact,
#fh5co-about,
#fh5co-pricing {
  padding: 6em 0; }
  @media screen and (max-width: 768px) {
    #fh5co-benefits,
    #fh5co-testimonials,
    #fh5co-counters,
    #fh5co-work,
    #fh5co-contact,
    #fh5co-about,
    #fh5co-pricing {
      padding: 2em 0; } }

#fh5co-benefits,
#fh5co-work,
#fh5co-counters {
  padding: 2em 0; }
  @media screen and (max-width: 768px) {
    #fh5co-benefits,
    #fh5co-work,
    #fh5co-counters {
      padding: 2em 0; } }

#fh5co-benefits {
  background-color: #0B63CE;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7); }
  #fh5co-benefits:before, #fh5co-benefits:after {
    position: absolute;
    background-color: #0B63CE;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%; }
  #fh5co-benefits:before {
    top: 0;
    margin-top: -35px; }
  #fh5co-benefits:after {
    bottom: 0;
    margin-bottom: -35px; }
  #fh5co-benefits .fh5co-benefit {
    padding-right: 30px; }
  #fh5co-benefits h3 {
    font-size: 24px;
    color: #fff;
    text-align: center; }
  #fh5co-benefits p {
    text-align: center; }
  #fh5co-benefits .icon {
    margin-bottom: 30px;
    max-height: 150px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline; }
    #fh5co-benefits .icon:before {
      color: #fff; }
  #fh5co-benefits .section-heading h2 {
    font-size: 2.25em;
    font-weight: 600;
    color: #fff; }
    #fh5co-benefits .section-heading h2.left-border:after {
      background: rgba(255, 255, 255, 0.3); }
  #fh5co-benefits .section-heading h3 {
    font-weight: 400;
    text-align: left; }

#fh5co-counters {
  background: #fff;
  overflow: hidden;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  padding: 0em 0 0em 0; }
  @media screen and (max-width: 768px) {
    #fh5co-counters {
      padding: 4em 0; } }
  #fh5co-counters select {
    font-size: 1.2em;
    text-align-last: center;
    font-weight: 600;
    color: #444;
    border: none;
    border-bottom: 2px solid #D5D6D8;
    border-radius: 2px;
    min-width: 220px;
    padding-bottom: 5px;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none !important;
    background-image: url(/images/dropdown-normal.svg);
    background-repeat: no-repeat;
    background-position: 195px center;
    background-size: .7em; }
  #fh5co-counters select:hover {
    cursor: pointer;
    background-image: url(/images/dropdown-hover.svg);
    border-bottom: 2px solid #444;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s; }
  #fh5co-counters option {
    background-color: white;
    color: #444;
    text-align-last: center;
    font-weight: 400;
    font-size: .8em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none !important; }
  #fh5co-counters option:hover {
    background-color: #e8e8e8;
    color: #444;
    text-align-last: center; }
  #fh5co-counters .local-price {
    display: none;
    margin-top: 30px; }
  #fh5co-counters .price-crossout {
    font-size: 55%;
    margin-left: 5px;
    color: #737C7F;
    position: relative; }
  #fh5co-counters .price-crossout:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 3px solid;
    border-radius: 5px;
    border-color: inherit;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  #fh5co-counters button {
    height: auto;
    font-weight: 600;
    color: white;
    font-size: 1em;
    /* text-transform: uppercase; */
    margin: 0px auto 0;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color: #0B63CE;
    border: none;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s; }
  #fh5co-counters button:hover {
    background-color: #393e46;
    cursor: pointer;
    transform: translateY(-7px);
    box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8); }
  #fh5co-counters button:active {
    transform: translateY(-7px);
    box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8); }
  #fh5co-counters .fh5co-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: #fff; }
  #fh5co-counters:before, #fh5co-counters:after {
    position: absolute;
    background-color: transparent;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%; }
  #fh5co-counters:before {
    top: 0;
    margin-top: -35px; }
  #fh5co-counters:after {
    bottom: 0;
    margin-bottom: -35px; }
  #fh5co-counters .section-heading {
    position: relative;
    z-index: 3;
    margin-bottom: 0; }
    #fh5co-counters .section-heading h2 {
      font-weight: 600;
      color: #444; }
      #fh5co-counters .section-heading h2:after {
        background: rgba(255, 255, 255, 0.3) !important; }
    #fh5co-counters .section-heading .subtext h3 {
      color: #0B63CE;
      font-weight: 600;
      font-size: 2em; }
    #fh5co-counters .section-heading p {
      color: #737C7F;
      font-size: 1.2em;
      font-weight: 400; }
    #fh5co-counters .section-heading h3 {
      color: #0B63CE;
      font-weight: 600;
      font-size: 2em;
      line-height: 1; }
    #fh5co-counters .section-heading small {
      font-size: 55%;
      color: #737C7F; }

#fh5co-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left; }
  #fh5co-testimonials .box-testimony a {
    color: rgba(255, 255, 255, 0.5); }
    #fh5co-testimonials .box-testimony a:hover, #fh5co-testimonials .box-testimony a:focus, #fh5co-testimonials .box-testimony a:active {
      color: white;
      text-decoration: none; }
  #fh5co-testimonials .box-testimony blockquote {
    padding-left: 0;
    border-left: none;
    padding: 30px;
    background: #fff;
    background: #0B63CE;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px; }
    #fh5co-testimonials .box-testimony blockquote:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 40px;
      border-top: 10px solid black;
      border-top-color: #fff;
      border-top-color: #0B63CE;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent; }
    #fh5co-testimonials .box-testimony blockquote p {
      font-style: italic;
      color: #fff; }
  #fh5co-testimonials .box-testimony .author {
    line-height: 20px;
    color: black;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 400; }
    #fh5co-testimonials .box-testimony .author a {
      color: #0B63CE; }
      #fh5co-testimonials .box-testimony .author a:hover {
        text-decoration: underline; }
    #fh5co-testimonials .box-testimony .author > figure {
      float: left;
      margin-right: 10px; }
      #fh5co-testimonials .box-testimony .author > figure img {
        width: 60px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
    #fh5co-testimonials .box-testimony .author p {
      float: left;
      margin-top: 10px; }
    #fh5co-testimonials .box-testimony .author .subtext {
      display: block;
      color: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      font-weight: 400 !important; }

#fh5co-work {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #1B324B; }
  #fh5co-work a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline; }
    #fh5co-work a:hover {
      color: white; }
  #fh5co-work:before, #fh5co-work:after {
    position: absolute;
    background-color: #1B324B;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%; }
  #fh5co-work:before {
    top: 0;
    margin-top: -35px; }
  #fh5co-work:after {
    bottom: 0;
    margin-bottom: -35px; }
  #fh5co-work .section-heading h2 {
    font-weight: 600;
    font-size: 2.25em;
    color: #fff; }
    #fh5co-work .section-heading h2:after {
      background: rgba(255, 255, 255, 0.3); }
  #fh5co-work .section-heading h3 {
    color: rgba(255, 255, 255, 0.8); }
  #fh5co-work .fh5co-project-item {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    background: #fff;
    overflow: hidden;
    z-index: 9;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #fh5co-work .fh5co-project-item img {
      z-index: 8;
      opacity: 1;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    #fh5co-work .fh5co-project-item .fh5co-text {
      padding: 10px 20px;
      text-align: center; }
      #fh5co-work .fh5co-project-item .fh5co-text h2,
      #fh5co-work .fh5co-project-item .fh5co-text span {
        text-decoration: none !important; }
      #fh5co-work .fh5co-project-item .fh5co-text h2 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        color: #0B63CE; }
      #fh5co-work .fh5co-project-item .fh5co-text span {
        color: #b3b3b3;
        font-size: 16px;
        font-weight: 400; }
    #fh5co-work .fh5co-project-item:hover, #fh5co-work .fh5co-project-item:focus {
      -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
      box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
      text-decoration: none;
      top: -15px; }
      #fh5co-work .fh5co-project-item:hover h2,
      #fh5co-work .fh5co-project-item:hover span, #fh5co-work .fh5co-project-item:focus h2,
      #fh5co-work .fh5co-project-item:focus span {
        text-decoration: none !important; }

.fh5co-person {
  border: 2px solid #f2f2f2;
  padding: 80px 30px 30px 30px;
  border-radius: 10px;
  float: left;
  width: 100%;
  position: relative; }
  @media screen and (max-width: 992px) {
    .fh5co-person {
      margin-bottom: 3.5em; } }
  .fh5co-person figure {
    position: absolute;
    margin-top: -60px;
    top: 0;
    left: 50%;
    margin-left: -60px;
    display: block;
    margin-bottom: 50px; }
    .fh5co-person figure img {
      width: 120px;
      border: 2px solid #f2f2f2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .fh5co-person h3 {
    margin-bottom: 0px; }
  .fh5co-person .fh5co-position {
    color: #b3b3b3;
    display: block;
    margin-bottom: 20px; }

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both; }
  .section-heading button {
    height: auto;
    font-weight: 600;
    color: white;
    font-size: 1em;
    /* text-transform: uppercase; */
    margin: 25px auto 0;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    background-color: #0B63CE;
    border: none;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s; }
  .section-heading button:hover {
    background-color: #393e46;
    cursor: pointer;
    transform: translateY(-7px);
    box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8); }
  .section-heading button:active {
    transform: translateY(-7px);
    box-shadow: 0 0 0.875em 0 rgba(100, 116, 128, 0.16), 0 0.5em 1.125em -0.5em rgba(100, 116, 128, 0.8); }
  .section-heading h2 {
    margin: 0 0 30px 0;
    font-size: 2.25em;
    font-weight: 600;
    color: #444;
    position: relative;
    display: block;
    padding-bottom: 20px;
    line-height: 1.5; }
    .section-heading h2.left-border:after {
      content: "";
      position: absolute;
      display: block;
      width: 80px;
      height: 2px;
      background: #0B63CE;
      left: 0%;
      margin-left: 0px;
      bottom: 0; }
    .section-heading h2:after {
      content: "";
      position: absolute;
      display: block;
      width: 80px;
      height: 2px;
      background: #0B63CE;
      left: 50%;
      margin-left: -40px;
      bottom: 0; }
    @media screen and (max-width: 768px) {
      .section-heading h2 {
        font-size: 30px; } }
  .section-heading h3 {
    font-weight: 300;
    line-height: 1.5;
    color: #929292; }
    @media screen and (max-width: 768px) {
      .section-heading h3 {
        font-size: 24px !important;
        line-height: 34px; } }

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.fh5co-nav-toggle i::before {
  top: -7px; }

.fh5co-nav-toggle i::after {
  bottom: -7px; }

.fh5co-nav-toggle:hover i::before {
  top: -10px; }

.fh5co-nav-toggle:hover i::after {
  bottom: -10px; }

.fh5co-nav-toggle.active i {
  background: transparent; }

.fh5co-nav-toggle.active i::before {
  top: 0; }

.fh5co-nav-toggle.active i::after {
  bottom: 0; }

.fh5co-nav-toggle {
  position: absolute;
  top: 2px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important; }
  @media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
      display: block; } }

#footer {
  padding: 50px 0;
  color: #7f7f7f;
  position: relative; }
  #footer .copyright {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0; }

.btn {
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn.btn-primary {
    background: #0B63CE;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important; }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      box-shadow: none;
      background: #0B63CE; }
  .btn:hover, .btn:active, .btn:focus {
    background: #393e46 !important;
    color: #fff;
    outline: none !important; }
  .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
    border-color: transparent; }

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0; }

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%; } }

.row-bottom-padded-lg {
  padding-bottom: 2em; }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
      padding-bottom: 2em; } }

.row-bottom-padded-md {
  padding-bottom: 4em; }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-md {
      padding-bottom: 2em; } }

.row-bottom-padded-sm {
  padding-bottom: 2em; }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
      padding-bottom: 2em; } }

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.benefits-lego-top {
  height: 250px;
  background-image: url(/images/curvy-top-1.svg);
  background-size: cover;
  width: 100%; }

.benefits-lego-bottom {
  height: 250px;
  background-image: url(/images/curvy-bot-1.svg);
  background-size: cover;
  width: 100%; }

.work-lego-top {
  height: 250px;
  background-image: url(/images/curvy-top-2.svg);
  background-size: cover;
  width: 100%; }

.work-lego-bottom {
  height: 250px;
  background-image: url(/images/curvy-bot-2.svg);
  background-size: cover;
  width: 100%; }
